<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    <title>Login</title>
</head>
<body>
    <h1>Login Bookstore</h1>
    <div th:if="${param.error}" class="text-danger">
            Virheellinen käyttäjätunnus tai salasana.
    </div>

    <form th:action="@{/login}" method="post">
    <div style="margin-bottom: 10px;"></div><label> User Name : <input type="text" name="username"/> </label></div>
    <div style="margin-bottom: 10px;"></div><label> Password: <input type="password" name="password"/> </label></div>
    <div style="margin-bottom: 10px;"></div><input type="submit" value="Sign In"/></div>
    </form>
</body>
</html>

    <form th:action="@{/logout}" method="post" style="margin-bottom: 15px;">
